In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [3]:
df = pd.read_csv("Churn_Modelling.csv")
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
df = df.drop(['RowNumber', "CustomerId" , "Surname" ],axis=1)
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
label_encoder_gender = LabelEncoder()
df['Gender'] = label_encoder_gender.fit_transform(df['Gender'])

In [6]:
onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(df[['Geography']])
geo_encoded_df = pd.DataFrame(geo_encoded.toarray(),columns=onehot_encoder_geo.get_feature_names_out(['Geography']))

In [7]:
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [8]:
## Combine one hot encoder columns with the original data
df = pd.concat([df.drop('Geography',axis=1),geo_encoded_df],axis=1)
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [9]:
## DiVide the dataset into indepent and dependent features
X = df.drop('EstimatedSalary',axis=1)
y = df['EstimatedSalary']

In [10]:
## Split the data in training and tetsing sets
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

## Scale these features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [11]:
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender, file)
    
with open('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo, file)
    
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

# **ANN REGRESSION**

In [12]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

WARNING:tensorflow:From c:\Users\vikas\OneDrive\Desktop\Machine Learning\Estimated-Salary-Prediction\viks\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [13]:
## Build Our ANN Model
model = Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)), ## HL1 Connected with input layer
    Dense(32,activation='relu'), ## HL2
    Dense(1) ## Output Layer
]
    
)

WARNING:tensorflow:From c:\Users\vikas\OneDrive\Desktop\Machine Learning\Estimated-Salary-Prediction\viks\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [14]:
# Compile the model
model.compile(optimizer='adam', loss="mean_absolute_error", metrics=['mae'])

WARNING:tensorflow:From c:\Users\vikas\OneDrive\Desktop\Machine Learning\Estimated-Salary-Prediction\viks\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [15]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [16]:
## Set up the Tensorboard
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime
log_dir="regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [17]:
## Set up early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [18]:
### Train the model
history=model.fit(
    X_train,y_train,
    validation_data=(X_test,y_test),
    epochs=100,
    callbacks=[early_stopping_callback,tensorflow_callback]
)

Epoch 1/100
WARNING:tensorflow:From c:\Users\vikas\OneDrive\Desktop\Machine Learning\Estimated-Salary-Prediction\viks\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\vikas\OneDrive\Desktop\Machine Learning\Estimated-Salary-Prediction\viks\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 2s 3ms/step - loss: 100366.7578 - mae: 100366.7578 - val_loss: 98475.8594 - val_mae: 98475.8594
Epoch 2/100
250/250 [==============================] - 0s 1ms/step - loss: 99491.0859 - mae: 99491.0859 - val_loss: 96723.0781 - val_mae: 96723.0781
Epoch 3/100
250/250 [==============================] - 0s 1ms/step - loss: 96467.5469 - mae: 96467.5469 - val_loss: 92302.5781 - val_mae: 92302.5781
Epoch 4/100
250/250 [==============================] - 0s 1ms/step - loss: 90604.2500 - mae: 90604.2500 - val_loss: 85108.3906 - val_mae: 85108.3906
Epoch 5/100
250/250 [==============================] - 0s 1ms/step - loss: 82270.1328 - mae: 82270.1328 - val_loss: 76110.4453 - val_mae: 76110.4453
Epoch 6/100
250/250 [==============================] - 0s 2ms/step - loss: 72747.2734 - mae: 72747.2734 - val_loss: 67184.5469 - val_mae: 67184.5469
Epoch 7/100
250/250 [==============================] - 0s 1ms/step - loss: 64042.2930 - mae: 64042.2930 - val_loss: 59965.1719 - val_mae: 59965.1719
Epoch 8/100
250/250 [==============================] - 0s 1ms/step - loss: 57552.9023 - mae: 57552.9023 - val_loss: 55200.9062 - val_mae: 55200.9062
Epoch 9/100
250/250 [==============================] - 0s 1ms/step - loss: 53752.0117 - mae: 53752.0117 - val_loss: 52705.4258 - val_mae: 52705.4258
Epoch 10/100
250/250 [==============================] - 0s 1ms/step - loss: 51876.1172 - mae: 51876.1172 - val_loss: 51625.3750 - val_mae: 51625.3750
Epoch 11/100
250/250 [==============================] - 0s 1ms/step - loss: 51049.3633 - mae: 51049.3633 - val_loss: 51217.2578 - val_mae: 51217.2578
Epoch 12/100
250/250 [==============================] - 0s 1ms/step - loss: 50687.7070 - mae: 50687.7070 - val_loss: 51015.0391 - val_mae: 51015.0391
Epoch 13/100
250/250 [==============================] - 0s 2ms/step - loss: 50504.9297 - mae: 50504.9297 - val_loss: 50902.6328 - val_mae: 50902.6328
Epoch 14/100
250/250 [==============================] - 0s 1ms/step - loss: 50401.5352 - mae: 50401.5352 - val_loss: 50804.2031 - val_mae: 50804.2031
Epoch 15/100
250/250 [==============================] - 0s 1ms/step - loss: 50325.5234 - mae: 50325.5234 - val_loss: 50736.5938 - val_mae: 50736.5938
Epoch 16/100
250/250 [==============================] - 0s 1ms/step - loss: 50257.5078 - mae: 50257.5078 - val_loss: 50666.6211 - val_mae: 50666.6211
Epoch 17/100
250/250 [==============================] - 0s 1ms/step - loss: 50198.9531 - mae: 50198.9531 - val_loss: 50607.6289 - val_mae: 50607.6289
Epoch 18/100
250/250 [==============================] - 0s 1ms/step - loss: 50144.8711 - mae: 50144.8711 - val_loss: 50552.3672 - val_mae: 50552.3672
Epoch 19/100
250/250 [==============================] - 0s 1ms/step - loss: 50094.0469 - mae: 50094.0469 - val_loss: 50511.2539 - val_mae: 50511.2539
Epoch 20/100
250/250 [==============================] - 0s 1ms/step - loss: 50051.0938 - mae: 50051.0938 - val_loss: 50474.3750 - val_mae: 50474.3750
Epoch 21/100
250/250 [==============================] - 0s 1ms/step - loss: 50010.4766 - mae: 50010.4766 - val_loss: 50428.6953 - val_mae: 50428.6953
Epoch 22/100
250/250 [==============================] - 0s 1ms/step - loss: 49973.7891 - mae: 49973.7891 - val_loss: 50401.4805 - val_mae: 50401.4805
Epoch 23/100
250/250 [==============================] - 0s 1ms/step - loss: 49941.6055 - mae: 49941.6055 - val_loss: 50380.0430 - val_mae: 50380.0430
Epoch 24/100
250/250 [==============================] - 0s 1ms/step - loss: 49914.6367 - mae: 49914.6367 - val_loss: 50350.8164 - val_mae: 50350.8164
Epoch 25/100
250/250 [==============================] - 0s 1ms/step - loss: 49883.3906 - mae: 49883.3906 - val_loss: 50326.5430 - val_mae: 50326.5430
Epoch 26/100
250/250 [==============================] - 0s 1ms/step - loss: 49856.7031 - mae: 49856.7031 - val_loss: 50315.9688 - val_mae: 50315.9688
Epoch 27/100
250/250 [==============================] - 0s 1ms/step - loss: 49831.1367 - mae: 49831.1367 - val_loss: 50295.0117 - val_mae: 50295.0117
Epoch 28/100
250/250 [==============================] - 0s 1ms/step - loss: 49810.4414 - mae: 49810.4414 - val_loss: 50281.4727 - val_mae: 50281.4727
Epoch 29/100
250/250 [==============================] - 0s 1ms/step - loss: 49791.5195 - mae: 49791.5195 - val_loss: 50264.6094 - val_mae: 50264.6094
Epoch 30/100
250/250 [==============================] - 0s 1ms/step - loss: 49772.4102 - mae: 49772.4102 - val_loss: 50250.8359 - val_mae: 50250.8359
Epoch 31/100
250/250 [==============================] - 0s 1ms/step - loss: 49754.7305 - mae: 49754.7305 - val_loss: 50239.5781 - val_mae: 50239.5781
Epoch 32/100
250/250 [==============================] - 0s 1ms/step - loss: 49739.5391 - mae: 49739.5391 - val_loss: 50230.0703 - val_mae: 50230.0703
Epoch 33/100
250/250 [==============================] - 0s 1ms/step - loss: 49718.7578 - mae: 49718.7578 - val_loss: 50220.1289 - val_mae: 50220.1289
Epoch 34/100
250/250 [==============================] - 0s 1ms/step - loss: 49701.8867 - mae: 49701.8867 - val_loss: 50205.2461 - val_mae: 50205.2461
Epoch 35/100
250/250 [==============================] - 0s 1ms/step - loss: 49685.8672 - mae: 49685.8672 - val_loss: 50202.5625 - val_mae: 50202.5625
Epoch 36/100
250/250 [==============================] - 0s 1ms/step - loss: 49674.1719 - mae: 49674.1719 - val_loss: 50192.1328 - val_mae: 50192.1328
Epoch 37/100
250/250 [==============================] - 0s 1ms/step - loss: 49659.3594 - mae: 49659.3594 - val_loss: 50189.2227 - val_mae: 50189.2227
Epoch 38/100
250/250 [==============================] - 0s 1ms/step - loss: 49646.8750 - mae: 49646.8750 - val_loss: 50182.1523 - val_mae: 50182.1523
Epoch 39/100
250/250 [==============================] - 0s 1ms/step - loss: 49635.3086 - mae: 49635.3086 - val_loss: 50178.4297 - val_mae: 50178.4297
Epoch 40/100
250/250 [==============================] - 0s 1ms/step - loss: 49623.9453 - mae: 49623.9453 - val_loss: 50178.5547 - val_mae: 50178.5547
Epoch 41/100
250/250 [==============================] - 0s 1ms/step - loss: 49613.1758 - mae: 49613.1758 - val_loss: 50167.7461 - val_mae: 50167.7461
Epoch 42/100
250/250 [==============================] - 0s 1ms/step - loss: 49601.2930 - mae: 49601.2930 - val_loss: 50165.1016 - val_mae: 50165.1016
Epoch 43/100
250/250 [==============================] - 0s 1ms/step - loss: 49586.5586 - mae: 49586.5586 - val_loss: 50172.1797 - val_mae: 50172.1797
Epoch 44/100
250/250 [==============================] - 0s 1ms/step - loss: 49581.2461 - mae: 49581.2461 - val_loss: 50166.7930 - val_mae: 50166.7930
Epoch 45/100
250/250 [==============================] - 0s 1ms/step - loss: 49571.2695 - mae: 49571.2695 - val_loss: 50152.1250 - val_mae: 50152.1250
Epoch 46/100
250/250 [==============================] - 0s 1ms/step - loss: 49562.2656 - mae: 49562.2656 - val_loss: 50154.8555 - val_mae: 50154.8555
Epoch 47/100
250/250 [==============================] - 0s 1ms/step - loss: 49554.0195 - mae: 49554.0195 - val_loss: 50154.1250 - val_mae: 50154.1250
Epoch 48/100
250/250 [==============================] - 0s 1ms/step - loss: 49542.0078 - mae: 49542.0078 - val_loss: 50152.3281 - val_mae: 50152.3281
Epoch 49/100
250/250 [==============================] - 0s 1ms/step - loss: 49534.6914 - mae: 49534.6914 - val_loss: 50154.4062 - val_mae: 50154.4062
Epoch 50/100
250/250 [==============================] - 0s 1ms/step - loss: 49526.3477 - mae: 49526.3477 - val_loss: 50151.7266 - val_mae: 50151.7266
Epoch 51/100
250/250 [==============================] - 0s 1ms/step - loss: 49519.1172 - mae: 49519.1172 - val_loss: 50145.0508 - val_mae: 50145.0508
Epoch 52/100
250/250 [==============================] - 0s 1ms/step - loss: 49511.7734 - mae: 49511.7734 - val_loss: 50144.2188 - val_mae: 50144.2188
Epoch 53/100
250/250 [==============================] - 0s 1ms/step - loss: 49506.8398 - mae: 49506.8398 - val_loss: 50148.7461 - val_mae: 50148.7461
Epoch 54/100
250/250 [==============================] - 0s 2ms/step - loss: 49498.2188 - mae: 49498.2188 - val_loss: 50155.8672 - val_mae: 50155.8672
Epoch 55/100
250/250 [==============================] - 0s 1ms/step - loss: 49491.0391 - mae: 49491.0391 - val_loss: 50159.5000 - val_mae: 50159.5000
Epoch 56/100
250/250 [==============================] - 0s 2ms/step - loss: 49483.1719 - mae: 49483.1719 - val_loss: 50151.4297 - val_mae: 50151.4297
Epoch 57/100
250/250 [==============================] - 0s 1ms/step - loss: 49475.6133 - mae: 49475.6133 - val_loss: 50150.6992 - val_mae: 50150.6992
Epoch 58/100
250/250 [==============================] - 0s 1ms/step - loss: 49471.1719 - mae: 49471.1719 - val_loss: 50161.5625 - val_mae: 50161.5625
Epoch 59/100
250/250 [==============================] - 0s 1ms/step - loss: 49462.6172 - mae: 49462.6172 - val_loss: 50160.2852 - val_mae: 50160.2852
Epoch 60/100
250/250 [==============================] - 0s 1ms/step - loss: 49457.0039 - mae: 49457.0039 - val_loss: 50166.6914 - val_mae: 50166.6914
Epoch 61/100
250/250 [==============================] - 0s 1ms/step - loss: 49449.5234 - mae: 49449.5234 - val_loss: 50160.1562 - val_mae: 50160.1562
Epoch 62/100
250/250 [==============================] - 0s 2ms/step - loss: 49445.5039 - mae: 49445.5039 - val_loss: 50161.7969 - val_mae: 50161.7969

In [19]:
## Load Tensorboard Extension
%load_ext tensorboard

In [23]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 4464), started 0:00:25 ago. (Use '!kill 4464' to kill it.)

In [21]:
## Evaluate model on the test data
test_loss, test_mae = model.evaluate(X_test,y_test)
print(f'Test MAE: {test_mae:.2f}')

63/63 [==============================] - 0s 789us/step - loss: 50144.2188 - mae: 50144.2188
Test MAE: 50144.22

In [22]:
model.save('regression_model.h5')

c:\Users\vikas\OneDrive\Desktop\Machine Learning\Estimated-Salary-Prediction\viks\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(